.root {
    -fx-background-color: #2B4666;
    -fx-border-color: #1A2739;
}

#news-grid {
    -fx-background-color: #f5f9fa;
    -fx-border-color: #3e6f9b;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#news-grid:hover {
    -fx-background-color: #e2e6e7;
}

#news-grid:pressed {
    -fx-background-color: #ffffff;
}

#citation-grid {
    -fx-background-color: #f5f9fa;
    -fx-border-color: #3e6f9b;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.left-grid {
    -fx-background-color: #1A2739;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-opacity: 0.3;
}

.increment-button, .decrement-button {
    -fx-opacity: 0;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 30;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #3c6996;
    -fx-background-radius: 30;
}


/*
 * Button settings start
 */

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-text-fill: #f0f0f0;
    -fx-text-alignment: center;
    -fx-font-size: 10pt;
}

.button:hover {
    -fx-background-color: #2B4666;
    -fx-text-fill: #ECF0F1;
}

.button:pressed {
    -fx-background-color: white;
    -fx-text-fill: #2b2b2b;
    -fx-border-color: white;
}

#back {
    -fx-border-radius: 0;
    -fx-background-color: #2B4666;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-font-size: 20;
    -fx-opacity: 0.9;
    -fx-text-fill: #ECF0F1;
}

#back:hover {
    -fx-opacity: 0.7;
}

#back:pressed {
    -fx-background-color: #ECF0F1;
}

/*
 * Button settings end
 */

/*
 * Label settings start
 */

.label {
    -fx-font-size: 12;
    -fx-text-fill: black;
}

#categories {
    -fx-font-size: 20;
    -fx-opacity: 0.9;
    -fx-text-fill: #ECF0F1;
}

#title {
    -fx-font-size: 25;
    -fx-opacity: 0.8;
    -fx-wrap-text: true;

}

#description {
    -fx-font-size: 15;
    -fx-opacity: 0.9;
    -fx-wrap-text: true;
}

#date {
    -fx-opacity: 0.4;
}

/*
 * Label settings end
 */

#stack-pane {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}